// @font-face {
//   font-family: 'vodafone_exbregular';
//   src: url('font/vodafoneexb-regular-webfont.eot');
//   src: url('font/vodafoneexb-regular-webfont.eot?#iefix') format('embedded-opentype'),
//   url('font/vodafoneexb-regular-webfont.woff2') format('woff2'),
//   url('font/vodafoneexb-regular-webfont.woff') format('woff'),
//   url('font/vodafoneexb-regular-webfont.ttf') format('truetype'),
//   url('font/vodafoneexb-regular-webfont.svg#vodafone_exbregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'vodafone_ltregular';
//   src: url('font/vodafonelt-regular-webfont.eot');
//   src: url('font/vodafonelt-regular-webfont.eot?#iefix') format('embedded-opentype'),
//   url('font/vodafonelt-regular-webfont.woff2') format('woff2'),
//   url('font/vodafonelt-regular-webfont.woff') format('woff'),
//   url('font/vodafonelt-regular-webfont.ttf') format('truetype'),
//   url('font/vodafonelt-regular-webfont.svg#vodafone_ltregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'vodafone_rgbold';
//   src: url('font/vodafonerg-bold-webfont.eot');
//   src: url('font/vodafonerg-bold-webfont.eot?#iefix') format('embedded-opentype'),
//   url('font/vodafonerg-bold-webfont.woff2') format('woff2'),
//   url('font/vodafonerg-bold-webfont.woff') format('woff'),
//   url('font/vodafonerg-bold-webfont.ttf') format('truetype'),
//   url('font/vodafonerg-bold-webfont.svg#vodafone_rgbold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'vodafone_rgregular';
  src: url('font/vodafonerg-regular-webfont.eot');
  src: url('font/vodafonerg-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/vodafonerg-regular-webfont.woff2') format('woff2'),
  url('font/vodafonerg-regular-webfont.woff') format('woff'),
  url('font/vodafonerg-regular-webfont.ttf') format('truetype'),
  url('font/vodafonerg-regular-webfont.svg#vodafone_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}